$primaryColor : #EDAE49;
$secondaryColor : #facb0b;
$thirdColor : #dae121;
$fourthColor : #34702c;
$brightYellow: #FEF5CE;
$greenHover: rgb(20, 95, 20);
$white: #ffffff;
$black: #000000;
$dark: #3A3A3A; /* cor usada no footer */
$brightHover: #c9bd8f;