/* Global */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    font-weight: bold;
    color: #facb0b !important;
}
.active {
    color: #EDAE49;
}

/* Header */
.site-header {
    padding: 0 40px;
}
.site-branding {
    background-image: url(../images/logo.PNG);
    background-size: contain;
    height: 65px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center center;
}