/* Color variables */
/* Repetitive code */
/* Global */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

body a:hover {
  color: #facb0b;
  text-decoration: none;
}

body p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #000000;
}

body h1 {
  color: #dae121;
  font-size: 80px;
  font-family: 'Lobster',cursive;
}

body h2 {
  color: #EDAE49;
  font-size: 40px;
  font-family: 'Lobster',cursive;
}

body h3 {
  font-size: 20px;
  font-family: 'Lobster',cursive;
}

body h4 {
  font-size: 10px;
  font-family: 'Lobster',cursive;
}

/* Header */
.site-header {
  padding: 0px 60px;
}

.site-header nav .site-branding {
  background-image: url(../images/logo.PNG);
  background-size: contain;
  height: 65px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center center;
}

.site-header nav ul .nav-item .nav-link {
  color: black;
}

.site-header nav ul .nav-item .nav-link:hover {
  color: #facb0b;
  font-weight: bold;
}

.site-header nav ul #active {
  color: #EDAE49;
}

@media only screen and (max-width: 450px) {
  .site-header {
    padding: 10px;
  }
}

/* Testimonial section */
.section-testimonial {
  margin-top: 20px;
}

.section-testimonial #demo {
  text-align: center;
  padding: 10px;
}

.section-testimonial #demo .carousel-inner img {
  border-radius: 50%;
  width: 200px;
  height: 180px;
}

.section-testimonial #demo .carousel-inner .carousel-caption {
  position: static;
  color: #EDAE49;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0px;
}

.section-testimonial #demo a {
  width: 35px;
  height: 30px;
  border-radius: 35%;
  top: 100px;
}

.section-testimonial #demo a span {
  background-color: #34702c;
  padding: 15px;
}

.section-testimonial #demo .carousel-indicators {
  position: static;
}

.section-testimonial #demo .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.3);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.section-testimonial #demo .carousel-indicators .active {
  background-color: #34702c;
}

/* Footer */
.site-footer {
  text-align: center;
  background-color: #3A3A3A;
  padding: 40px;
}

.site-footer p {
  color: #ffffff;
  margin: 0px;
}

.site-footer a {
  color: #EDAE49;
}

/*--------------------------- HOME PAGE --------------------------------*/
/* Home main section */
.section-main-home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/plates-background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/plates-background.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: black !important;
  text-align: center;
  padding: 150px 20px 350px 20px;
}

.section-main-home p {
  color: #EDAE49;
  font-size: 40px;
}

/* Menu section */
.section-menu-showcase {
  padding: 20px 150px;
  background-color: #FEF5CE;
}

.section-menu-showcase .col-md-4 {
  text-align: center;
  padding: 10px;
}

.section-menu-showcase .col-md-4 img {
  width: 250px;
  height: 175px;
}

.section-menu-showcase .col-md-12 {
  text-align: center;
}

.section-menu-showcase .col-md-12 button {
  background: #34702c;
  padding: 20px;
  border-radius: 50px;
  color: #FEF5CE;
  font-size: 30px;
}

.section-menu-showcase .col-md-12 button:hover {
  background: #145f14;
  color: white;
}

@media only screen and (max-width: 1060px) {
  .section-menu-showcase {
    padding: 10px 40px;
  }
  .section-menu-showcase .col-md-4 img {
    width: 200px;
    height: 150px;
  }
  .section-menu-showcase .col-md-12 button {
    font-size: 20px;
  }
}

/* Welcome section */
.section-welcome {
  padding: 20px 20px;
  text-align: center;
}

.section-welcome .row {
  margin: 0 100px;
}

.section-welcome .row .col-sm-6 {
  padding: 20px;
}

.section-welcome .row .col-sm-6 h3 {
  font-family: 'Lato', sans-serif;
  color: #34702c;
}

.section-welcome .row .col-sm-6 a {
  color: #000000;
  background: #FEF5CE;
  padding: 20px;
  display: block;
  margin: auto;
  width: 200px;
  border: 1px solid #000000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.section-welcome .row .col-sm-6 a:hover {
  background: #c9bd8f;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 700px) {
  .section-welcome {
    padding: 10px;
  }
  .section-welcome .row {
    margin: 0;
  }
}

/*--------------------------- MENU PAGE -------------------------------*/
/* Menu main section */
.section-main-menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/menu-main.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/menu-main.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black !important;
  text-align: center;
  padding: 150px 20px 150px 20px;
}

.section-main-menu p {
  color: #EDAE49;
  font-size: 40px;
}

/* Menu section */
.section-menu {
  padding: 20px;
  text-align: center;
}

.section-menu .section-menu-item .col-sm-10 {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 1px rgba(0, 0, 0, 0.1);
}

.section-menu .section-menu-item .col-sm-10 .fas {
  font-size: 90px;
}

.section-menu .section-menu-item .col-sm-10 ul {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-column-width: 200px;
          column-width: 200px;
  list-style: none;
  text-align: left;
}

.section-menu .section-menu-item .col-sm-10 ul li {
  position: relative;
}

.section-menu .section-menu-item .col-sm-10 ul li h3 {
  color: gray;
}

.section-menu .section-menu-item .col-sm-10 ul li .span-price {
  position: absolute;
  top: 5px;
  right: 0;
  font-style: italic;
  font-weight: 550;
  color: gray;
}

.section-menu .section-menu-item .col-sm-10 ul li p {
  padding-right: 60px;
}

/*--------------------------- ABOUT PAGE -------------------------------*/
.section-main-about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/about-main.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/about-main.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black !important;
  text-align: center;
  padding: 150px 20px 150px 20px;
}

.section-main-about p {
  color: #EDAE49;
  font-size: 40px;
}

.section-prizes {
  background-image: url("../images/prize.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  min-height: 200px;
  padding: 150px 10px;
}

.section-specialties {
  background-image: url("../images/cucumber.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  min-height: 150px;
  padding: 50px 10px;
}

@media only screen and (max-width: 1230px) {
  .section-prizes {
    height: 400px;
    padding: 20px;
  }
  .section-specialties {
    height: 230px;
    margin-bottom: 120px;
  }
}

@media only screen and (max-width: 1230px) and (max-width: 830px) {
  .section-prizes {
    margin-bottom: 75px;
  }
  .section-specialties {
    height: 175px;
    margin-bottom: 120px;
  }
}

@media only screen and (max-width: 1230px) and (max-width: 830px) and (max-width: 767px) {
  .section-prizes {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.5))), url("../images/prize.jpg");
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url("../images/prize.jpg");
    padding: 20px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: auto;
    margin: auto;
    padding: 50px 20px;
  }
  .section-specialties {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../images/cucumber.jpg");
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/cucumber.jpg");
    padding: 20px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: auto;
    margin: auto;
    padding: 50px 20px;
  }
}

/*--------------------------- CONTACT PAGE -----------------------------------*/
.section-main-contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/contact-main.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/contact-main.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black !important;
  text-align: center;
  padding: 150px 20px 150px 20px;
}

.section-main-contact p {
  color: #EDAE49;
  font-size: 40px;
}

.section-contact {
  padding: 40px 80px;
}

.section-contact .row #email-confirm {
  opacity: 0;
}

.section-contact .row .col-lg-6 iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .section-contact {
    padding: 20px;
  }
  .col-lg-6 iframe#map {
    height: 300px;
  }
}

@media only screen and (max-width: 991px) and (max-width: 414px) {
  .form-row {
    display: block;
  }
  .form-row #email-confirm {
    display: none;
  }
  .form-row #field-email-confirmation {
    margin-top: 10px;
  }
}

.section-contact-options {
  text-align: center;
  padding: 20px 60px;
}

/*---------------------------------------------------------------*/
/*# sourceMappingURL=style.css.map */