/* Color variables */                  /*                  */   
@import "./variables";                 /*                  */
                                       /*                  */
/* Repetitive code */                  /*                  */
@import './repetitive-code';           /*                  */
                                       /*    ALL PAGES     */
/* Global */                           /*                  */
@import './global';                    /*                  */
                                       /*                  */
/* Header */                           /*                  */
@import './header';                    /*                  */
                                       /*                  */
/* Testimonial section */              /*    ALL PAGES     */
@import './section-testimonial';       /*                  */
                                       /*                  */
/* Footer */                           /*                  */
@import './footer';                    /*                  */

/*-----------------------------------------------------------*/

/* Home main section */                /*                  */
@import './home/section-main';         /*                  */
                                       /*                  */
/* Menu section */                     /*    HOME PAGE     */
@import './home/section-menu';         /*                  */
                                       /*                  */
/* Welcome section */                  /*                  */
@import './home/section-welcome';      /*                  */

/*-----------------------------------------------------------*/        

/* Menu main section */
@import './menu/section-main';          /*                  */
                                        /*                  */
/* Menu section */
@import './menu/section-menu';

/*-----------------------------------------------------------*/

@import './about/section-main';         /*                  */
                                        /*                  */
@import './about/section-about';

/*---------------------------------------------------------------*/

@import './contact/section-main';           /*                  */
                                            /*                  */
.section-contact {
  padding: 40px 80px;
  .row {
    #email-confirm {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .section-contact {
    padding: 20px;
  }
  @media only screen and (max-width: 414px) {
    .form-row {
      display:block;
      #email-confirm {
        display: none;
      }
      #field-email-confirmation {
        margin-top: 10px;
      }
    }
  }
}
/*---------------------------------------------------------------*/